.w3-container * {
	color: black;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Times New Roman", Times, serif !important;
}

/* .w3-container canvas {
	width: 100% !important;
	height: 300px !important;
}
 */

/* ..w3-container h1 {
	font-size: 40px;
}

..w3-container h2 {
	font-size: 30px;
} */

.w3-container p {
	font-size: 19px !important;
}

.blanco {
	color: white !important;
}

#sidebar a {
	color: white !important;
}

.img_perfil {
	border-width: 3px !important;
	border-style: solid !important;
	border-color: #744AAB !important;
}

.navbar .navbar-brand-wrapper {
	/* 	background-color: #744AAB !important; */
}
